<div id="overlay" class="overlay"></div>

<dialog open>
  <h2 class="dialog-title">Add Book</h2>
  <form class="dialog-form" method="POST" action="/books/new">
    <div class="dialog-input-wrapper">
      <% const titleError = errors?.find(e => e.path === 'title'); %>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Title"
        class="<%= titleError ? 'input-error' : '' %>"
        value="<%= formData.title ? formData.title : '' %>"
      />
      <% if (titleError) { %>
      <p class="error-msg"><%= titleError.msg %></p>
      <% } %>
    </div>

    <div class="dialog-input-wrapper">
      <% const authorError = errors?.find(e => e.path === 'author'); %>
      <input
        type="text"
        id="author"
        name="author"
        placeholder="Author"
        class="<%= authorError ? 'input-error' : '' %>"
        value="<%= formData.author ? formData.author : '' %>"
      />
      <% if (authorError) { %>
      <p class="error-msg"><%= authorError.msg %></p>
      <% } %>
    </div>

    <div class="dialog-input-wrapper">
      <label for="genre">Genre: </label>
      <select id="genre" name="genre" required>
        <% genres.forEach(genre => { %>
        <option value="<%= genre.name %>"><%= genre.name %></option>
        <% }) %>
      </select>
    </div>

    <div class="button-wrapper">
      <button type="submit">Add Book</button>
      <a href="/books">
        <button type="button">Cancel</button>
      </a>
    </div>
  </form>
</dialog>
