<div class="books-page">
  <% if (locals.showAddBookDialog) { %> <%- include ('partials/newBooksModal')
  %> <% } %>
  <div class="books-header">
    <h1 class="books-page-title">Books Page</h1>
    <a href="/books/new"><button class="add-entry-button">Add Book</button></a>
    <% if (locals.query) {%>
    <p class="search-results">Search results for "<%= locals.query %>"</p>
    <%}%>
    <p></p>
  </div>

  <div class="books-main-container">
    <div class="filters-container">
      <h3>Filter By Genre</h3>
      <form method="GET" action="/books" class="filter-form">
        <% genres.map(genre => {%>
        <div class="input-filter-wrapper">
          <input
            type="checkbox"
            id="<%= genre.name %>"
            name="genres"
            value="<%= genre.name %>"
          />
          <label for="<%= genre.name %>"><%= genre.name %></label>
        </div>
        <% }) %>
        <button type="submit">Apply Filter</button>
      </form>
    </div>
    <div class="books-container">
      <% if (locals.books.length === 0) {%>
      <p class="search-results">No Results Found</p>
      <%}%> <% books.map(book => {%>
      <div class="book-container">
        <div class="book-title-author">
          <h3 class="book-title"><%= book.title %></h3>
          <p class="book-author"><%= book.author %></p>
        </div>
        <p class="book-genre"><%= book.genre %></p>
      </div>
      <% }) %>
    </div>
  </div>
</div>
